<!DOCTYPE html>
<html>
<head>
  <title>PonyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%- flash.each do |type, msg| %>
    <div class="alert alert-info fade in">
      <a class="close", href= "#", data-dismiss='alert'>&times;</a>
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
